

.statusBlock {
	display: inline;
	float: right;
}


.avaBlock {
	display: inline;
    float: left;
}


.photoBlock {
	display: flex;
	padding-left: 15%;
	padding-right: 15%;
	justify-content: space-between;
	border: 3px solid gray;
}


.testBlock {
	display: flex;
	flex-direction: column;
}
