

.formControl.error input,
.formControl.error textarea {
    border: solid black 2px;
}

.formControl.error span {
    color: black;
}

.formSummaryError {
    border: black 2px solid;
    font-size: 16px;
    padding: 5px;
    color: black;
}