.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  padding-right: 10%;
  padding-left: 10%;
  background-color: rgb(94, 43, 43);
  /*grid-gap: 10px;*/
}

.app-wrapper-content {
  grid-area: c;
  background-color: #ff864e;
  min-height: 100vh;
}


@media (max-width: 1225px) {
  .app-wrapper {
    grid-template-rows: 100px 1fr;
  }
}








